<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>摘要打分测试</title>
</head>
<body>
    <form action="/search-post/" method="post">
        {% csrf_token %}
        摘要: <textarea type="text" name="summary" style="width:400px;height:200px;"></textarea>
        原文: <textarea type="text" name="ori_doc" style="width:400px;height:200px;"></textarea>
        摘要长度（默认原文30%）: <input type="text" name="length"/>
        <input type="submit" value="提交">
    </form>

    <p>摘要分数:{{ rlt }}</p>
</body>
</html>
