<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>摘要打分测试</title>
</head>
<body>
    <form action="/search-post/" method="post">
        {% csrf_token %}
        Article: <textarea type="text" onkeyup="wordStatic(this);" name="ori_doc" style="width:550px;height:400px;">{{ ori_doc }}</textarea>
        Abstract: <textarea type="text" name="summary" style="width:550px;height:400px;">{{ summary }}</textarea>
        <p></p><br><p id="length">Abstract length（default 30% of total length or specify here）: </p><input type="text" name="length"/>
        <p></p><br><input type="submit" value="Submit" style="width:100px;height:30px;">
    </form>

    <p></p>
    <input type="button" id="hide" onclick="hidetext()" value="Detail" style="display: block;width:100px;height:30px;"/>
    <div id="detail" style="display: none">
    <p>Abstract score: {{ rlt }}</p>
    <p>Cosine similarity between input and summary: {{ input_summary_cos }}</p>
    <p>Oracle cosine similarity: {{ ori_single_max_summ_cos }}</p>
    <p>Grade: {{ rank }}</p>
    </div>

    <script>
        window.onload=function (){
            var score = "{{rlt}}"
            if (score === "") {
                document.getElementById("hide").style.display = "none";
            }
        }

       function hidetext(){
           if(document.getElementById("detail").style.display === "block"){
               document.getElementById("detail").style.display="none";
               document.getElementById("hide").value="Detail";
           }else {
               document.getElementById("detail").style.display="block";
               document.getElementById("hide").value="Hidden Detail";
           }
       }
       // function showtext() {
       //     document.getElementById("hide").style.display = "block";
       // }

        function getWordCount(str) {
            return str.split(' ').filter(function(n) { return n!== '' }).length;
        }

       function wordStatic(input) {
        // 获取要显示已经输入字数文本框对象
        var content = document.getElementById('length');
        if (content && input) {
            // 获取输入框输入内容长度并更新到界面
            var value = input.value;
            // 将换行符不计算为单词数
            var count = getWordCount(value)
            // 更新计数
            content.innerText = "default 30%(now " + parseInt(0.3 * count) + " words) of total length or specify here";
        }
    }

    </script>
</body>
</html>
